.wrapper{
    width: 100%;
}

.side-bar-container{
    flex:0 1 14rem;
    min-width: 14rem;
    height: max-content;  
    margin-left: var(--md);
}


.side-bar-heading{
    text-align: center;
    padding: var(--sm);
    background-color: var(--grey-100);
    margin-top: var(--md);
    letter-spacing: 0.125rem;
    cursor: pointer;

}

.side-bar-heading:hover{
    background-color: var(--light-grey);
}

.filter-heading{
    font-weight: var(--semi-bold);
    padding: var(--xs);
    background-color: var(--grey-100);
}
.filter-heading-top{
    margin-top: var(--md);
}
.filter-content{
    text-align: center;
    padding: var(--xs);

}

.product-container{
    margin: var(--md) 0 0 var(--md);
    background-color: var(--grey-100);
    flex-wrap: wrap;
    width: fit-content;
}

.product-container .btn{
    background-color: var(--text-color);
    color: var(--background-color);
}

.video-option-container {
    position: absolute;
    top: 55%;
    left: 30%;
    background-color: var(--background-color);
    padding: 0.3rem 0.5rem;
}
.video-option{
    padding:0.4rem;
    border-bottom: 1px solid var(--light-grey);
}
.video-option:hover{
    background-color: var(--light-grey);
}
.card-footer{
    padding: 0;
}

.card{
    position: relative;
    margin: var(--sm);
    height: 23rem;
    max-width: 17rem; 
    cursor: pointer;
}
.card-liked{
    height: max-content;
}
.card-history{
    background-color: var(--light-grey);
    padding: var(--xs);
    border-radius: var(--xs);
    margin-left: var(--xs);
}

.card-video{
    width: 100%;
    padding: var(--md);
}
.card-video-iconbox{
    padding: var(--md);
    font-size: var(--lg);
}
.video-action-icon{
    padding: var(--xs) var(--xl);
}
.overlay{
    position: fixed;
    transition: .2s ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.3);
    pointer-events: all;
    z-index: 4;
}
.playlist-modal{
    width: 15rem;
    padding: var(--xs);
    cursor: pointer;
    z-index: 10;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--xs);
    background-color: var(--background-color);
}
.modal-heading{
    background-color: var(--light-grey);
    border-radius: var(--xs);
    padding: var(--xs);
}
.modal-body{
    background-color: var(--light-grey);
    margin-top: var(--xs);
    border-radius: var(--xs);
    padding: 0;

}
.modal-body ul{
    padding-left: 0;
}
.modal-body li{
    padding: 2px 0;
}
.modal-btn{
    margin: 0;
}
.modal-input{
    padding: 2px;
    margin: var(--xs) 0;
    border: 1px solid black;
    border-radius: 2px;
}
.playlist-card{
    border-radius: var(--xs);
    height: max-content;
    min-width: 10rem;
    max-width: max-content;
    margin: var(--xs);
    padding: var(--xs) 2px;
    background-color: white;
}
.playlist-card-title{
    background-color: var(--grey-100);
    border-radius: 2px;
    text-align: center;
    padding: var(--xs);
}
.playlist-footer{
    margin-top: var(--xs);
}
@media screen and (max-width: 480px) {
    .wrapper{
        flex-wrap: wrap;
        justify-content: center;
    }
    .side-bar-container{
        flex:0 1 85%;
        margin: 0;
    }
    .product-container{
        margin-left: 0;
    }
    
  }